<p>This is simple JS form.</p>

<!-- <form action="/signup" method="post" id="signup">
    <h3>Sign Up</h3>
    <div class="field">
        <label for="username">Name: </label>
        <input type="text" id="nameInput" name="username" placeholder="Enter your fullname">
        <small></small>
    </div>
    <div class="field">
        <label for="email">Email: </label>
        <input type="text" id="emailInput" name="email" placeholder="Enter your email Id">
        <small></small>
    </div>
    <button type="submit">Subscribe</button>
</form> -->


