<h3>Please select form category</h3>

<ul class="list-group col-xs-2">
    <li class="list-group-item">
        <a routerLink="td">Template Driven</a>
    </li>
    <li class="list-group-item">
        <a routerLink="js">Simple Javascript</a>
    </li>
    <li class="list-group-item">
        <a routerLink="reactive">Reactive Approach</a>
    </li>
    <li class="list-group-item">
        <a routerLink="formAssignment">Assignment</a>
    </li>
    <li class="list-group-item">
        <a routerLink="gmail">G Mail Signup 2024</a>
    </li>
</ul>

<div class="col-xs-10">
    <router-outlet></router-outlet>
</div>
