/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}

.validationError {
    color: red;
    font-size: x-small;
    margin-top: 3px;
}

/* input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-touched.ng-invalid {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-touched.ng-valid {
    border: 1px solid green;
} */


