<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onAddItem(formRef)" #formRef="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" name="name" ngModel required>
            <span class="help-block" *ngIf="formRef.form.controls['name']?.touched && formRef.form.controls['name']?.hasError('required')">Item name is required.</span>
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
            <span class="help-block" *ngIf="formRef.form.controls['amount']?.touched && formRef.form.controls['amount']?.hasError('required')">Amount is required.</span>
            <span class="help-block" *ngIf="formRef.form.controls['amount']?.touched && (formRef.value.amount !== '' && formRef.value.amount !== null) && !(+formRef.value.amount >= 1)">Amount should be greater than 0.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="!formRef.valid">{{ editMode ? 'Save' :'Add'}}</button>
            <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  